@font-face {
    font-family: 'Captain Comic';
    src: url('CaptainComic-Bold.eot');
    src: local('Captain Comic Bold'), local('CaptainComic-Bold'),
        url('CaptainComic-Bold.eot?#iefix') format('embedded-opentype'),
        url('CaptainComic-Bold.woff2') format('woff2'),
        url('CaptainComic-Bold.woff') format('woff'),
        url('CaptainComic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Captain Comic';
    src: url('CaptainComic-Italic.eot');
    src: local('Captain Comic Italic'), local('CaptainComic-Italic'),
        url('CaptainComic-Italic.eot?#iefix') format('embedded-opentype'),
        url('CaptainComic-Italic.woff2') format('woff2'),
        url('CaptainComic-Italic.woff') format('woff'),
        url('CaptainComic-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Captain Comic';
    src: url('CaptainComic-BoldItalic.eot');
    src: local('Captain Comic Bold Italic'), local('CaptainComic-BoldItalic'),
        url('CaptainComic-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CaptainComic-BoldItalic.woff2') format('woff2'),
        url('CaptainComic-BoldItalic.woff') format('woff'),
        url('CaptainComic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Captain Comic';
    src: url('CaptainComic.eot');
    src: local('Captain Comic'), local('CaptainComic'),
        url('CaptainComic.eot?#iefix') format('embedded-opentype'),
        url('CaptainComic.woff2') format('woff2'),
        url('CaptainComic.woff') format('woff'),
        url('CaptainComic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

